<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="mainModule" ng-controller="TopNavController">
<head>
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="lib/twitter-bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="lib/angular.js/angular-csp.css" type="text/css" />
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="lib/angular.js/angular.js"></script>
    <script src="app.js"></script>
    <script src="RegexTesterController.js"></script>
</head>
<body>
    <header class="container-fluid p-1"><h1>{{ pageTitle }}</h1></header>
    <nav class="container-fluid navbar navbar-expand-sm p-1">
        <ul class="navbar-nav">
            <li class="nav-item" ng-repeat="i in items"><a ng-href="{{i.href}}" ng-class="i.class" ng-click="i.onClick()">{{ i.linkTitle }}</a></li>
        </ul>
    </nav>
    <section class="container-fluid" ng-controller="RegexTesterController">
        <form action="RegexTester.html" method="get">
            <div class="form-row">
                <div class="form-group col-12" ng-class="validationClass">
                    <label for="inputPatternTextBox">Regular Expression</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><span class="input-group-text">/</span></div>
                        <input type="text" class="form-control" ng-model="inputPattern" id="inputPatternTextBox" ng-hide="ignoreWhitespace" />
                        <textarea class="form-control" id="inputPatternTextBox" rows="{{ inputRowCount }}" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" ng-model="inputPattern" ng-show="ignoreWhitespace"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="setInputRowCount(true)" ng-hide="!ignoreWhitespace || inputRowCount > 25">+</button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="setInputRowCount(false)" ng-hide="!ignoreWhitespace || inputRowCount < 3">-</button>
                            <span class="input-group-text text-monospace">/{{ flags }}</span>
                            <button class="btn btn-outline-secondary" type="button" ng-click="editOptions(true)" ng-hide="showOptions" data-toggle="tooltip" data-placement="bottom" title="Edit Options">...</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="showParseError">{{ patternParseError }}</div>
                </div>
            </div>
            <div class="form-row" ng-show="showOptions">
                <div class="form-group col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="ignoreCase" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">Ignore Case</label>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="multiline" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">Multi-line</label>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="isGlobal" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">Global Match</label>
                    </div>
                </div>
            </div>
            <div class="form-row" ng-show="showOptions">
                <div class="form-group col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="dotAll" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">&quot;.&quot; matches all</label>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="sticky" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">Sticky</label>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="unicode" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">Unicode</label>
                    </div>
                </div>
            </div>
            <div class="form-row" ng-show="showOptions">
                <div class="form-group col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="ignoreWhitespace" id="CheckBox">
                        <label class="form-check-label" for="CheckBox">Ignore Whitespace (removes whitespace before evaluating regular expression).</label>
                    </div>
                </div>
            </div>
            <div class="form-row" ng-show="showOptions && (savedNames.length > 0 || sessionLoadMessage.length > 0)">
                <div class="form-group col-12">
                    <h3 ng-show="sessionLoadMessage.length > 0 || (showOptions && savedNames.length > 0)">Saved sessions</h3>
                    <div class="alert alert-info" ng-show="sessionLoadMessage.length > 0"> {{ sessionLoadMessage }}</div>
                    <ul ng-show="showOptions && savedNames.length > 0">
                        <li ng-repeat="i in savedNames">
                            &quot;{{ i }}&quot;
                            <button type="button" class="btn btn-primary btn-sm" ng-click="loadSession(i)">Load</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="deleteSession(i)">Delete</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-row" ng-show="showOptions">
                <div class="form-group col-1">
                    <label for="currentSavedNameTextBox">Name</label>
                </div>
                <div class="form-group col-10">
                    <input type="text" class="form-control" ng-model="currentSavedName" id="currentSavedNameTextBox" />
                    <div class="alert alert-info" ng-show="sessionSaveMessage.length > 0"> {{ sessionSaveMessage }}</div>
                </div>
                <div class="form-group col-1">
                    <button type="button" class="btn btn-primary" ng-click="saveSession()">Save</button>
                </div>
            </div>
            <div class="form-row" ng-show="showOptions">
                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary" ng-click="editOptions(false)">Hide Options</button>
                </div>
            </div>
            <div class="form-row" ng-repeat="item in inputItems" id="inputRow{{ item.itemNumber }}">
                <div class="form-group col-1 text-right font-weight-bold" ng-class="item.cssClass" ng-hide="item.isCurrent">Test String {{ item.itemNumber }}:</div>
                <div class="form-group col-10" ng-class="item.cssClass" ng-hide="item.isCurrent"><pre class="small mb-0">{{ item.inputText }}</pre></div>
                <div class="form-group col-11" ng-class="item.cssClass" ng-show="item.isCurrent">
                    <label for="inputTextarea{{ item.itemNumber }}">Test String {{ item.itemNumber }}</label>
                    <textarea class="form-control" id="inputTextarea{{ item.itemNumber }}" rows="3" ng-model="item.inputText"></textarea>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary m-0 btn-sm" ng-click="item.edit()" ng-hide="item.isCurrent">Edit</button>
                    <button type="button" class="btn btn-primary m-0 btn-sm" ng-click="item.delete()" ng-show="item.canDelete">Delete</button>
                    <a ng-href="{{ '#resultRow' + item.itemNumber.toString() }}" class="btn btn-primary btn-sm m-0" ng-show="item.evaluated">Result</a>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <button type="button" class="btn btn-primary mb-2" ng-click="addInputItem()">Add</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary" ng-click="evaluate()">Evaluate</button>
                </div>
            </div>
            <div class="form-row" ng-show="showEvaluations">
                <div class="form-group col-12">
                    <label for="inputPatternTextBox">Evaluated Regular Expression</label>
                    <input type="text" class="form-control" ng-model="fullPattern" id="fullPatternTextBox" readonly="readonly" />
                </div>
            </div>
            <table class="table table-striped col-12" ng-show="showEvaluations">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="resultRow{{ item.itemNumber }}" ng-repeat="item in inputItems">
                        <th scope="row">{{  item.itemNumber }}</th>
                        <td class="border border-dark">
                            <strong>{{ item.statusMessage }}</strong>
                            <table class="table" ng-show="item.success">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="g in item.matchGroups">
                                        <th scope="row">{{  g.index }}</th>
                                        <td>{{ g.statusMessage }}</td>
                                        <td>{{ g.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <strong class="small">Source:</strong>
                                <pre class="small mb-0 border border-dark p-2">{{ item.inputText }}</pre>
                                <a ng-href="{{ '#inputRow' + item.itemNumber.toString() }}" class="btn btn-primary m-2 form-control-sm" ng-click="item.edit()">Edit</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </section>
    <footer class="container-fluid ">&copy; Leonard T. Erwine 2019.</footer>
</body>
</html>