<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="mainModule">
<head>
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>Regular Expression Tester</title>
    <link rel="stylesheet" href="lib/twitter-bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="lib/angular.js/angular-csp.css" type="text/css" />
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="lib/angular.js/angular.js"></script>
    <script src="App/app.js"></script>
    <script src="App/RegexTester.js"></script>
</head>
<body ng-app="mainModule">
    <top-nav-and-header header-text="Regular Expression Tester" page-id="regexTester"></top-nav-and-header>
    <section class="container-fluid" ng-controller="regexTester">
        <form action="RegexTester.html" method="get">
            <h3>Input Text</h3>
            <table class="table" ng-controller="inputSourceEdit">
                <tbody>
                    <tr ng-repeat="for item in sourceItems">
                        <th class="text-right" scope="row"><label for="{{controlId}}">#1:</label></th>
                        <td>
                            <textarea class="form-control" id="{{controlId}}" wrap="soft" rows="6">{{text}}</textarea>
                        </td>
                        <td><a href="{{resultsHref}}" class="btn btn-success m-0 btn-sm" ng-class="resultsButtonClass" ng-click="resultsClick()">{{resultsButtonText}}</a></td>
                        <td><button type="button" class="btn btn-primary m-0 btn-sm" ng-show="canDelete" ng-click="delete()">Delete</button></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td><button type="button" class="btn btn-primary m-0" ng-click="addSourceItem()">Add</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-row" ng-controller="regexPattern">
                <div class="form-group col-12">
                    <h3><label for="inputPatternTextBox">Regular Expression</label></h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><div><span class="input-group-text">/</span></div></div>
                        <textarea class="form-control" id="inputPatternTextBox" name="inputPatternTextBox" rows="24" wrap="hard" ng-class="textBoxClass" ng-show="ignoreWhitespace" ng-model="wsRegexPattern" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
                        <input type="text" id="inputPatternTextBox" name="inputPatternTextBox" class="form-control" ng-class="textBoxClass" ng-hide="ignoreWhitespace" ng-model="regexPattern" />
                        <div class="input-group-append">
                            <div><button class="btn btn-outline-secondary input-group-text input-group-text" type="button" data-toggle="tooltip" data-placement="bottom" title="Edit Options" ng-click="showEditOptionsDialog()">/{{flags}}</button></div>
                        </div>
                    </div>
                    <div class="alert alert-danger small" ng-hide="isValid">{{patternValidationMessage}}</div>
                    <div class="modal fade modal-lg" id="{{editOptionsDialogId}}" tabindex="-1" role="dialog" aria-labelledby="editOptionsDialogTitle" aria-hidden="{{editOptionsDialogVisible}}">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editOptionsDialogTitle">Regular Expression Pattern Options</h5>
                                    <button type="button" class="close" aria-label="Close" ng-click="closeEditOptionsDialog()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="form-check col-3">
                                                <input class="form-check-input" type="checkbox" name="globalCheckBox" id="globalCheckBox" ng-model="global" />
                                                <label class="form-check-label" for="globalCheckBox">Global match <small>(find all matches rather than stopping after the first match)</small>.</label>
                                            </div>
                                            <div class="form-check col-3">
                                                <input class="form-check-input" type="checkbox" name="ignoreCaseCheckBox" id="ignoreCaseCheckBox" ng-model="ignoreCase" />
                                                <label class="form-check-label" for="ignoreCaseCheckBox">ignore case <small>(if u flag is also enabled, use Unicode case folding)</small>.</label>
                                            </div>
                                            <div class="form-check col-6">
                                                <input class="form-check-input" type="checkbox" name="multilineCheckBox" id="multilineCheckBox" ng-model="multiline" />
                                                <label class="form-check-label" for="multilineCheckBox">multiline <small>(treat beginning and end characters (^ and $) as working over multiple lines (i.e., match the beginning or end of each line (delimited by \n or \r), not only the very beginning or end of the whole input string))</small>.</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check col-3">
                                                <input class="form-check-input" type="checkbox" name="dotMatchesNewlineCheckBox" id="dotMatchesNewlineCheckBox" ng-model="dotMatchesNewline" />
                                                <label class="form-check-label" for="dotMatchesNewlineCheckBox">&quot;dotAll&quot; <small>(allows <code>.</code> to match newlines)</small>.</label>
                                            </div>
                                            <div class="form-check col-3">
                                                <input class="form-check-input" type="checkbox" name="unicodeCheckBox" id="unicodeCheckBox" ng-model="unicode" />
                                                <label class="form-check-label" for="unicodeCheckBox">Unicode <small>(treat pattern as a sequence of Unicode code points)</small>.</label>
                                            </div>
                                            <div class="form-check col-6">
                                                <input class="form-check-input" type="checkbox" name="stickyCheckBox" id="stickyCheckBox" ng-model="sticky" />
                                                <label class="form-check-label" for="stickyCheckBox">Sticky <small>(matches only from the index indicated by the lastIndex property of this regular expression in the target string &mdash; and does not attempt to match from any later indexes)</small>.</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check col-12">
                                                <input class="form-check-input" type="checkbox" name="ignoreWhitespaceCheckBox" id="ignoreWhitespaceCheckBox" ng-model="ignoreWhitespace" />
                                                <label class="form-check-label" for="ignoreWhitespaceCheckBox">Ignore Whitespace <small>(whitespace is trimmed from pattern before evaluating)</small></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" ng-click="closeEditOptionsDialog()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary" ng-click="evaluateExpression()" ng-disabled="evaluationIsDisabled">Evaluate</button>
                </div>
            </div>
            <h3>Results</h3>
            <div class="form-row">
                <div class="form-group col-12">
                    <div>Evaluated Regular Expression</div>
                    <div class="pre-scrollable border border-secondary">/^(([^\\\/@:]*)(:[\\\/]{0,2})((?=[^\\\/@:]*(?::[^\\\/@:]*)?@)([^\\\/@:]*)(:[^\\\/@:]*)?@)?([^\\\/@:]*)(?:(?=:\d*(?:[\\\/:]|$)):(\d*))?(?=[\\\/:]|$))?(.+)?$/</div>
                </div>
            </div>
            <table class="table col-12">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-right" scope="col">#</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="table-success text-right" scope="row">#1:</th>
                        <td class="border border-dark">
                            <h4 id="results1">Match starting at index 4</h4>
                            <table class="table table-bordered border-secondary">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="table-primary" scope="row">0</th>
                                        <td class="small table-primary">(entire match)</td>
                                        <td class="pre-scrollable table-primary">asdf adsfasdf</td>
                                    </tr>
                                    <tr>
                                        <th class="table-success" scope="row">1</th>
                                        <td class="table-success">Matched <span class="small">(4 characters)</span></td>
                                        <td class="pre-scrollable table-success">asdf</td>
                                    </tr>
                                    <tr>
                                        <th class="table-warning" scope="row">2</th>
                                        <td class="table-warning" colspan="2">No match</td>
                                    </tr>
                                    <tr>
                                        <th class="table-success" scope="row">3</th>
                                        <td class="table-success">Matched <span class="small">(16 characters)</span></td>
                                        <td class="pre-scrollable table-success">
                                            adsfasdf
                                            abcdef
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="small font-weight-bold">Text before match (4 characters)</div>
                            <pre class="small mb-0 border border-dark p-2 pre-scrollable">xyz </pre>
                            <div class="small font-weight-bold">Text after match (5 characters)</div>
                            <pre class="small mb-0 border border-dark p-2 pre-scrollable"> asdf</pre>
                            <div class="small font-weight-bold">Source</div>
                            <pre class="small mb-0 border border-dark p-2 pre-scrollable">xyz asdf adsfasdf
abcdef asdf</pre>
                            <a href="#inpuTextBox1" class="btn btn-primary form-control-sm font-weight-bold">Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-warning text-right" scope="row">#2:</th>
                        <td class="border border-dark">
                            <h4 id="results2">Match not found</h4>
                            <div class="small font-weight-bold">Source</div>
                            <pre class="small mb-0 border border-dark p-2 pre-scrollable">xyz asdf adsfasdf</pre>
                            <a href="#inpuTextBox2" class="btn btn-primary form-control-sm font-weight-bold">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </section>
    <footer class="container-fluid ">&copy; Leonard T. Erwine 2019.</footer>
</body>
</html>
